<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JS Test</title>
  <meta name="description" content="JS Test">
  <link rel="stylesheet" href="css/style.css?v=1.0">
  <link rel="stylesheet" href="css/animate.css">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
  <script src="js/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'/>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <style>

  </style>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div class="container">
  <div class="header">
    <h1>The Journey</h1>
    <ul class="menu">
      <li>
        <a href="#map" class="link">Map</a>
        <span>|</span>
      </li>
      <li>
        <a href="#graph-speed" class="link">Graph (Speed)</a>
        <span>|</span>
      </li>
      <li>
        <a href="#graph-altitude" class="link">Graph (Altitude)</a>
      </li>
      <div class="clearfix"></div>
    </ul>
  </div>
  <div class="info">
    <div class="label">
      <ul class="list">
        <li>Distance Travelled</li>
        <li>Fastest Speed</li>
        <li>Average Speed</li>
        <li>Highest Point</li>
        <li>Average Altitude</li>
        <li>Central Lat/Lon</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="value">
      <ul class="list">
        <li><%= @info_hash[:distance_travelled] %> <span>miles</span></li>
        <li><%= @info_hash[:fastest_speed].to_i %> <span>mph</span></li>
        <li><%= @info_hash[:average_speed].round %> <span>mph</span></li>
        <li><%= @info_hash[:highest_point].round %></li>
        <li><%= @info_hash[:average_altitude].round %></li>
        <li><%= @info_hash[:central_lat_lon] %></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="map">
    <%= erb :map, layout: false %>
  </div>
  <div class="graph graph-speed">
    <h2>
      <hr>
      <span>Speed</span>
      <hr>
    </h2>
  </div>
  <div class="graph graph-altitude">
    <h2>
      <hr>
      <span>Altitude</span>
      <hr>
    </h2>
  </div>
  <footer>
    <p>
      Made with love and a keyboard by <a href="http://arran.it">Arran</a>
    </p>
  </footer>
</div>

<script src="js/graph.js"></script>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('a[href*="#"]:not([href="#"])').click(function () {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          if (target.attr('id') != 'map') {
            $('html, body').animate({
              scrollTop: target.offset().top - 90
            }, 1000);
          } else {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
          }
          return false;
        }
      }
    });

    $('a').each(function () {
      animationHover(this, 'tada');
    });
  });

  function animationHover(element, animation) {
    element = $(element);
    element.mouseenter(function () {
      element.addClass('animated ' + animation);
    });
    element.mouseleave(function () {
      element.removeClass('animated ' + animation);
    })
  }
</script>

</body>
</html>